bin
obj/Debug/netcoreapp2.2/ConsoleBigLetters.assets.cache
obj/Debug/netcoreapp2.2/ConsoleBigLetters.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/ConsoleBigLetters.dll
obj/Debug/netcoreapp2.2/ConsoleBigLetters.pdb
obj/Debug/netcoreapp2.2/ConsoleBigLetters.csproj.FileListAbsolute.txt